*,
::before,
::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


nav {
    padding: 20px;
    background: #333;
}

nav:not(:first-of-type) {
    margin-top: 20px;
}

nav a {
    color: #f1f1f1;
    text-decoration: none;
    font-size: 20px;
    text-transform: uppercase;
    margin: 0 10px;
}

nav button {
    padding: 10px 12px;
    border-radius: 5px;
    border: none;
    font-size: 20px;
    min-width: 150px;
    text-align: center;
}

nav img {
    width: 150px;
}

.media-icons:not(.media-icons:last-of-type) {
    margin-right: 20px;
}

/* Utilisez Flexbox pour résoudre ces problèmes liés aux Navbars. */

#resultat nav {
    display: flex;
    align-items: center;
}

#resultat nav img[src*="logo_acs_noir"] {
    filter: invert() contrast(60%);
}

/* Nav #1 */
/* Centrer sur X */

.nav-1 {
    justify-content: center;
}


/* Nav #2 */
/* Centrer sur Y et afficher les boutons à droite */



.nav-2 .sign-in-btn {
    margin: 0 1rem 0 auto;
}



/* Nav #3 */
/* Mettre l'icône à gauche et les liens à droite */
.nav-3 {
    justify-content: end;
}

.nav-3 img {
    margin-right: auto;
}



/* Nav #4 */
/* Mettre l'icône Saturne au milieu et les liens à gauche */

.nav-4 {
    justify-content: end;
}

.nav-4 .empty-layout {
    flex-grow: 2;
}


.nav-4 .links-container {
    flex-grow: 1;
}

.nav-4 .logo-link {
    flex-grow: 1;
    /* transform: translateX(-50%);*/
}